[submodule "backend"]
	path = backend
	url = https://github.com/ADIFNEX-CONSULTORA-TI/museo-recorrido-bk.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/ADIFNEX-CONSULTORA-TI/museo-recorrido-fe.git
