<div class="toolbar-bloque flex items-center gap-1">

  <button
    type="button"
    class="toolbar-btn"
    pTooltip="Mover arriba"
    tooltipPosition="top"
    [disabled]="esPrimero"
    (click)="moverArriba.emit()">
    <i class="pi pi-arrow-up"></i>
  </button>

  <button
    type="button"
    class="toolbar-btn"
    pTooltip="Mover abajo"
    tooltipPosition="top"
    [disabled]="esUltimo"
    (click)="moverAbajo.emit()">
    <i class="pi pi-arrow-down"></i>
  </button>

  <button
    type="button"
    class="toolbar-btn"
    pTooltip="Duplicar bloque"
    tooltipPosition="top"
    (click)="duplicar.emit()">
    <i class="pi pi-copy"></i>
  </button>

  <button
    type="button"
    class="toolbar-btn toolbar-btn-delete"
    pTooltip="Eliminar bloque"
    tooltipPosition="top"
    (click)="eliminar.emit()">
    <i class="pi pi-trash"></i>
  </button>

</div>
